<html>
	<head>
		<link rel="stylesheet" href="css/core/block-host/style.css" type="text/css" />
		<link rel="stylesheet" href="css/core/block-plugin-twitter-bootstrap/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="css/core/block-plugin-twitter-bootstrap/bootstrap-responsive-min.css" type="text/css" />
	</head>
	<body>
		{% block body %}
			<h1>Aww snap!</h1>
			<p>
				We looked high and low for your page, but it's not anywhere.
			</p>
		{% endblock %}
	</body>
</html>